layout: index
subtitle: HTML5 2D Canvas 库
description: Konva 是一个用于绘制形状、动画、节点嵌套、分层、过滤、事件处理、拖放等功能的 2D Canvas JavaScript 框架。
comments: false
---
.intro-wrap
  .outer
        h2.intro-features 特征
        
        .features
          .feature
            img(src="/assets/features/undraw_abstract_x68e.svg")
            h3.desc 面向对象的 API，支持多种形状
          .feature
            img(src="/assets/features/undraw_file_sync_ot38.svg")
            h3.desc 支持桌面和移动设备

          .feature
            img(src="/assets/features/undraw_animating_1rgh.svg")
            h3.desc 动画和补间动画

          .feature
            img(src="/assets/features/undraw_fitting_pieces_cli3.svg")
            h3.desc 节点嵌套、分组和事件冒泡

          .feature
            img(src="/assets/features/undraw_image_viewer_wxce.svg")
            h3.desc 高质量导出为数据 URL、图像数据或图像对象

          .feature
            img(src="/assets/features/undraw_options_2fvi.svg")
            h3.desc 好用的现成滤镜
        
          .feature
            img(src="/assets/features/undraw_voice_interface_eckp.svg")
            h3.desc 与 React、Vue 和 Svelte 等 web 框架的原生集成

          .feature
            img(src="/assets/features/undraw_drag_5i9w.svg")
            h3.desc 内置拖放支持

        h2.intro-features 演示
        
        iframe(src='/downloads/code/main-demo.html',style='width:100%; height:600px; box-shadow: 0 0 10px grey; border-radius: 4px; overflow:hidden;')

        h2.intro-features 谁在使用 Konva？


        .grid-container
          .grid-item
            a(href="https://polotno.dev/?utm_source=konvajs", target="_blank")
              .preview(style='background-image: url(/assets/users/polotno.jpg);')
              .description
                h5.name Polotno
                p 用于制作网页设计编辑器的 SDK

          .grid-item
            a(href="https://smmplanner.com/home/sc", target="_blank")
              .preview(style='background-image: url(/assets/users/smmplanner.jpg);')
              .description
                h5.name SMMplanner
                p 用于创建 Instagram 故事的构造函数，作为定时发布的一部分

          .grid-item
            a(href="https://rowsncolumns.app/", target="_blank")
              .preview(style='background-image: url(/assets/users/grid.jpg);')
              .description
                h5.name SpreadSheet Grid
                p 适用于 React JS 的类似 Excel 的 DataGrid 组件

          .grid-item
            a(href="http://windowcc.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/windoor.jpg);')
              .description
                h5.name Windoor craft
                p 拖放式窗户和门设计工具

          .grid-item.small
            a(href="https://pixteller.com", target="_blank")
              .preview(style='background-image: url(/assets/users/pixteller.jpg);')
              .description
                h5.name Pixteller
                p 一个设计工具，可以在几秒钟内创建或自定义任何图像。

          .grid-item.small
            a(href="https://getpaddee.com", target="_blank")
              .preview(style='background-image: url(/assets/users/paddee.jpg);')
              .description
                h5.name Paddee
                p 照片亭模板的市场和在线编辑器

          .grid-item.small
            a(href="https://github.com/Lastik/some-charts", target="_blank")
              .preview(style='background-image: url(/assets/users/some-charts.png);')
              .description
                h5.name Some-charts
                p JS 图表库

          .grid-item.small
            a(href="https://shelly.dev/", target="_blank")
              .preview(style='background-image: url(/assets/users/shelly.jpg);')
              .description
                h5.name Shelly
                p 用于绘图的编程语言

          .grid-item.small
            a(href="https://taggle.so.io/", target="_blank")
              .preview(style='background-image: url(/assets/users/yokanban.jpg);')
              .description
                h5.name Taggle.so
                p 一个现代化的项目管理白板，激发流动和沟通。

          .grid-item.small
            a(href="https://boardos.online", target="_blank")
              .preview(style='background-image: url(/assets/users/boardos.jpg);')
              .description
                h5.name BoardOS
                p 在线白板协作系统

          .grid-item.small
            a(href="https://app.vokal.co/editor", target="_blank")
              .preview(style='background-image: url(/assets/users/vokal.jpg);')
              .description
                h5.name Vokal
                p 为社交媒体创建播客视频片段

          .grid-item.small
            a(href="https://www.facetache.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/moustache.jpg);')
              .description
                h5.name facetache
                p 给照片添加胡子！

          .grid-item.small
            a(href="https://www.blueletterbible.org/smark/index.cfm", target="_blank")
              .preview(style='background-image: url(/assets/users/scripture-mark.jpg);')
              .description
                h5.name ScriptureMark
                p 在画布上与圣经文本互动

          .grid-item.small
            a(href="https://lets-role.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/lets-role.jpg);')
              .description
                h5.name Let's Role
                p 在虚拟环境中玩桌面角色扮演游戏

          .grid-item.small
            a(href="http://www.csgoboard.com/board", target="_blank")
              .preview(style='background-image: url(/assets/users/csgoboard.jpg);')
              .description
                h5.name csgoboard
                p Valve 的游戏《反恐精英》互动板

          .grid-item.small
            a(href="https://www.brainzilla.com/puzzles/jigsaw/", target="_blank")
              .preview(style='background-image: url(/assets/users/puzzle.jpg);')
              .description
                h5.name brainzilla
                p 在线拼图游戏

          .grid-item.small
            a(href="https://github.com/kirill3333/react-avatar", target="_blank")
              .preview(style='background-image: url(/assets/users/avatar.jpg);')
              .description
                h5.name react-avatar
                p 使用 React 加载、裁剪和预览头像

          .grid-item.small
            a(href="https://mcalus3.github.io/color-wars-web/", target="_blank")
              .preview(style='background-image: url(/assets/users/colors-wars.jpg);')
              .description
                h5.name Color wars game
                p 热座多人游戏，街机，专注于竞争

          .grid-item.small
            a(href="https://www.kuruko.com/design", target="_blank")
              .preview(style='background-image: url(/assets/users/kuruko.jpg);')
              .description
                h5.name Kuruko
                p 创建自定义墙面艺术

          .grid-item.small
            a(href="https://www.opdome.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/opdome.jpg);')
              .description
                h5.name Opdome
                p 在线图画词典

          .grid-item.small
            a(href="https://e-cards.shop/de/cards/create/2/1", target="_blank")
              .preview(style='background-image: url(/assets/users/e-cards.jpg);')
              .description
                h5.name E-cards
                p 在线商店用于商务电子卡片

          .grid-item.small
            a(href="https://mystikaze.com/", target="_blank")
              .preview(style='background-image: url(/assets/users/mystikaze.jpg);')
              .description
                h5.name Mystikaze
                p 一款在线回合制六角战斗策略游戏



          #intro-btn-wrap
            a.add-app(href="https://github.com/konvajs/konva/discussions/1169") 您想在这里添加您的应用吗？

        

    .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/index.html") 开始使用
