<div id="banner">
  <div class="outer">
    <div class="inner" style="text-align: center;">
      <h1 id="banner-title">
        Konva.js - 用于桌面和移动应用的 HTML5 2D 画布 JavaScript 库
      </h1>
      <pre
        style="
          padding: 10px;
          margin-top: 14px;
          line-height: 16px;
          width: 170px;
          display: inline-block;
        "
      >
npm install konva</pre
      >

      <div id="banner-getting-started">
        <a class="btn" href="/docs/index.html">开始使用</a>
      </div>
      <div id="banner-share">
        <%- partial('_partial/share') %>
        <div><%- partial('_partial/subscribe') %></div>
      </div>
    </div>
  </div>
</div>

<%- page.content %>
